# source_url "https://raw.githubusercontent.com/cachix/devenv/95f329d49a8a5289d31e0982652f7058a189bfca/direnvrc" "sha256-d+8cBpDfDBj41inrADaJt+bDWhOktwslgoP5YiGJ1v0="

# use devenv

# Can not use devenv because hatch build app will fail. Use flake.nix with pkgs.mkShell instead.
# https://github.com/cachix/devenv/issues/292
if [ -f flake.nix ]; then
  use flake . --impure
fi

if [ -f .venv/bin/activate ]; then
  source .venv/bin/activate
fi

dotenv_if_exists
source_up_if_exists

export PYAPP_PROJECT_PATH=$(pwd)/dist/$(ls ./dist/shortcutx-* | head -n 1 | xargs basename)
export PYAPP_PROJECT_DEPENDENCY_FILE=$(pwd)/requirements.lock
export PYAPP_PYTHON_VERSION=3.11
export PYAPP_DISTRIBUTION_EMBED=1
export PYAPP_FULL_ISOLATION=1
export PYAPP_EXPOSE_METADATA=1
export PYAPP_EXPOSE_PIP=1
export PYAPP_EXPOSE_PYTHON=1
export PYAPP_EXPOSE_PYTHON_PATH=1
